@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    /* margin-bottom: 6rem; */
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 1rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  #profile,
  #contact,
  #experience,
  #about {
    margin: 0 3%;
  }

  #projects {
    margin: 0 1%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {

  .cursor-circle {
    display: none;
  }

  .section__pic-container:hover {
    transform: scaleX(-1);
  }

  /* .cursor-circle {
    display: none;
  } */

  #contact,
  #projects,
  #experience,
  #about {
    padding: 4vh 0;

  }

  .article-container {
    justify-content: flex-start;
  }

  nav {
    justify-content: space-between;
    padding: 1rem 1rem;
    height: auto;
  }

  #contact,
  footer {
    height: 40vh;
  }

  #profile {
    height: auto;
    margin-bottom: 4vh;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .contact-info-upper-container {
    padding: 1rem 2rem;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 92vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .text-container {
    text-align: justify;
  }

  .hide {
    display: none;
  }

  .details-container {
    width: 85%;
    /* margin-top: 1rem; */
  }

  #about {
    padding-top: 4rem;
  }

  .project-img {
    width: 100%;
  }
}